
body{
    background: url(./image/pxfuel.jpg);
  }
  
  .wrap
  {
    width: 250px;
    /* background: transparent; */
    /* border:2px solid rgba(255, 255, 255, .2); */
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    /* padding: 0px 0px; */
    /* height: 60vh; */
    justify-items: center;
    display: grid;
    position:absolute;
    top: 60px;
    left: 40%;
    
}

.search {
    width: 250px;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 250px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border:  solid #105059;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  